In [6]:
import pandas as pd
import numpy as np

In [1]:
fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [2]:
fruit_list

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [84]:
fruit_series = pd.Series(fruit_list)
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [9]:
# Determine the number of elements in fruits.
len(fruit_series)

17

In [86]:
fruit_series.size

17

In [56]:
# Output only the index from fruits.
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

In [57]:
# Output only the values from fruits.
fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [77]:
# Confirm the data type of the values in fruits.
type(fruit_series)
fruit_series.dtype

dtype('O')

In [61]:
# Output only the first five values from fruits. 
# Output the last three values. 
# Output two random values from fruits.

fruit_series.head(5), fruit_series.tail(3), fruit_series.sample(2)

(0          kiwi
 1         mango
 2    strawberry
 3     pineapple
 4    gala apple
 dtype: object,
 14    blackberry
 15    gooseberry
 16        papaya
 dtype: object,
 15          gooseberry
 5     honeycrisp apple
 dtype: object)

In [19]:
# Run the .describe() on fruits to see what information it returns 
# when called on a Series with string values.
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [87]:
# Run the code necessary to produce only the unique string values from fruits.
fruit_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [88]:

# Determine how many times each unique string value occurs in fruits.
fruit_series.nunique()

13

In [48]:
# Determine how many times each unique string value occurs in fruits.

fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [65]:
# Determine the string value that occurs most frequently in fruits.

fruit_series.mode()

0    kiwi
dtype: object

In [89]:
fruit_series.value_counts().nsmallest(1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64